.container{
   display: flex;
   flex-wrap: wrap;
   background-color: #FEC8ED;
   justify-content: space-around;
}
.tablero {
    display: inline-flex;
    flex-direction: column;
    border: 2.5px solid;
}

.fila{
	display: flex;
}

.cuadro{
	border: 2.5px solid;
	background-color: white;
	width:50px;
    height:50px;
}
/*imagenes de la aspiradora y las basura*/
.img{
	width: 40px;
	height: 40px;
}
/* Termina clase de imagen*/

/* Clase que almacena los demas elementos al tablero*/ 
.elementos{
	display: flex;
	width: 60%; /*width: 800px;*/
	flex-wrap: wrap;

}
/* Clase que contiene tanto al tiempo transcurrido como la faltura acutal en el tablero*/
.score{
	display: flex;
	margin-left: 50px;
	width: 100%;
	height: 40px;
	justify-content: space-around;
	flex-wrap: wrap;
}


/*Es para separa el cronometor de la basura flatante*/
.tiempo,.basura{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

/*.cronometro,.falta{
	margin-left: 50px;
}*/
/* Termina clase de tiempo, basura*/
/* Termina clase de score*/

/*Es para agrupar los todos los botones */
.botones{
	display: flex;
	margin-top: 100px;
	margin-left: 25px;
	width: 100%;
    flex-wrap: wrap;
	justify-content: space-around;
}

.boton{
	width: 175px;
	height: 50px;
}
/*Termina clase de botones*/
/*Termina clase de elementos*/

